header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.head-link {
  justify-content: space-between;
  align-items: center;
  padding: 10px 2rem;
  background-color: #f7f7f7;
}

.logo-title {
  display: none;
  color: black;
  font-size: 1.4rem;
}
.input-con {
  min-width: 120px;
  max-width: 600px;
  display: flex;
  flex: 1;
}

nav div input {
  padding: 6px;
  font-size: 1rem;
  border: 1px solid lightgray;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  outline-color: aqua;
  flex: 1;
}
.fa-magnifying-glass {
  padding: 12px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  margin-left: -5px;
  color: white;
  background-color: orangered;
  cursor: pointer;
}
.cta {
  gap: 1rem;
}
.cta div {
  font-size: 1.1rem;
  color: #222;
  font-weight: 300;
  cursor: pointer;
}
/* mav link con */
.nav-links ul li a {
  color: gray;
  padding: 4px 1rem;
  font-size: 1rem;
}
.nav-links ul li a:hover {
  color: blue;
  text-decoration: underline;
}
.link-con {
  display: none;
}
.fa-xmark {
  font-size: 1.1rem;
  display: none;
}

/* mobile link container */
.mb-link-con {
  display: none;
  position: absolute;
  top: 50px;
  right: 0;
  transform: translateX(120px);
  transition: all 0.4s ease-out;
}
.mb-link-con ul li a {
  text-decoration: none;
  font-size: 1rem;
  color: white;
  display: block;
  width: 120px;
  padding: 4px;
  background-color: lightsalmon;
  border-bottom: 1px solid gray;
}
.mb-link-con ul li a:hover {
  background-color: skyblue;
}
.mb-link-con ul li a i {
  margin-right: 10px;
}

/* hero section */
.hero {
  height: 100vh;
  background: linear-gradient(to right, #fff, #f7f7f7, #eeee);
  justify-content: space-between;
  padding: 2rem;
}
.hero .title-con {
  max-width: 500px;
}
.title-con h1 {
  font-size: 4rem;
}
.title-con p {
  font-size: 1.2rem;
  font-weight: 300;
  margin: 1rem 0;
}

.title-con button {
  background-color: #333;
  color: white;
  padding: 10px 20px;
}
.title-con button i {
  margin-right: 4px;
}
/* image con */
.img-con img {
  width: 300px;
  margin-right: 100px;
}

/* brands container */
.showcase-con {
  background-color: #f7f7f7;
  padding: 0 4rem;
}
.brand-con {
  justify-content: space-between;
  padding: 10px 1rem;
  margin-bottom: 2rem;
}
/* images show case */
.showcase-image-con {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;

  gap: 10px;
  padding: 1rem;
  background-color: white;
}
.showcase-image-con img {
  width: 100%;
  border-radius: 10px;
}
.model {
  grid-area: 1/1/3/3;
}

/* container section  */
.container {
  padding: 2rem 1rem;
}
.container h1 {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 2rem;
  font-family: serif;
  text-transform: uppercase;
}
/* Card section */
.product-con {
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}
.card {
  background-color: #fff;
  min-width: 300px;
  padding: 8px;
  border-radius: 8px;
  position: relative;
}
.card img {
  width: 100%;
  border-radius: 8px;
}
.badge {
  position: absolute;
  top: 1rem;
  left: 1rem;
  color: #fff;
  font-size: 14px;
  padding: 4px 12px;
  background-color: salmon;
  border-radius: 4px;
}

.product-info h2 {
  width: 90%;
  color: #333;
  font-size: 1.5rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1rem;
}
.info {
  justify-content: space-between;
  font-size: 1.2rem;
  color: gray;
}
.price {
  color: #000;
  font-size: 1.1rem;
  font-weight: 600;
}
.discount {
  color: orangered;
}

/* zara ad section */
.zara-ad {
  width: 100vw;
  height: 800px;
  background: no-repeat url(../logo/zarabg.jpg);
  color: white;
  position: relative;
}
.ad-info {
  position: absolute;
  top: 30%;
  right: 20%;
  max-width: 320px;
}
.ad-info p {
  font-size: 1.2rem;
  margin: 1.5rem 0;
}

/* responsive for nav bar  */
@media only screen and (max-width: 1024px) {
  .product-con {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 768px) {
  .logo,
  .cta {
    display: none;
  }
  .logo-title,
  .mb-link-con,
  .link-con {
    display: block;
  }
  .product-con {
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (max-width: 378px) {
  .product-con {
    grid-template-columns: 1fr;
  }
}
